<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imaging.scheduler.system.mapper.dispatch.DispatchConfigMapper">

    <select id="selectConfig" resultType="com.imaging.scheduler.system.domain.dispatch.DispatchConfig">
        SELECT * FROM dispatch_config ORDER BY id ASC LIMIT 1
    </select>

    <select id="selectFirst" resultType="com.imaging.scheduler.system.domain.dispatch.DispatchConfig">
        SELECT * FROM dispatch_config ORDER BY id ASC LIMIT 1
    </select>

    <update id="update">
        UPDATE dispatch_config
        <set>
            <if test="maxDevicesPerTask != null">max_devices_per_task = #{maxDevicesPerTask},</if>
            <if test="taskTimeoutMinutes != null">task_timeout_minutes = #{taskTimeoutMinutes},</if>
            <if test="autoDispatchEnabled != null">auto_dispatch_enabled = #{autoDispatchEnabled},</if>
            <if test="dispatchStrategy != null">dispatch_strategy = #{dispatchStrategy},</if>
            <if test="alertThresholdMinutes != null">alert_threshold_minutes = #{alertThresholdMinutes},</if>
            updated_at = NOW()
        </set>
        WHERE id = #{id}
    </update>
</mapper>
