#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: linear-gradient(90deg, #0f766e, #f59e0b);
  position: fixed;
  z-index: 1200;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .spinner {
  display: none;
}