<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sursoft.sfd.system.mapper.DecisionResultMapper">
    <resultMap id="RM" type="com.sursoft.sfd.system.domain.DecisionResult">
        <id column="id" property="id"/>
        <result column="result_code" property="resultCode"/>
        <result column="fusion_result_id" property="fusionResultId"/>
        <result column="rule_id" property="ruleId"/>
        <result column="rule_name" property="ruleName"/>
        <result column="scheme_id" property="schemeId"/>
        <result column="scheme_name" property="schemeName"/>
        <result column="decision_output" property="decisionOutput"/>
        <result column="triggered_at" property="triggeredAt"/>
    </resultMap>
    <resultMap id="WithFusion" type="com.sursoft.sfd.system.domain.DecisionResult" extends="RM">
        <association property="fusionResult" javaType="com.sursoft.sfd.system.domain.FusionResult">
            <id column="fr_id" property="id"/>
            <result column="fr_result_code" property="resultCode"/>
            <result column="fr_scheme_name" property="schemeName"/>
            <result column="fr_scene_count" property="sceneCount"/>
            <result column="fr_fusion_data" property="fusionData"/>
            <result column="fr_raw_data_summary" property="rawDataSummary"/>
            <result column="fr_executed_at" property="executedAt"/>
        </association>
    </resultMap>
    <select id="selectList" resultMap="RM">
        SELECT * FROM decision_result WHERE 1=1
        <if test="ruleId != null">AND rule_id=#{ruleId}</if>
        <if test="schemeId != null">AND scheme_id=#{schemeId}</if>
        <if test="startTime != null and startTime != ''">AND triggered_at &gt;= #{startTime}</if>
        <if test="endTime != null and endTime != ''">AND triggered_at &lt;= #{endTime}</if>
        <if test="keyword != null and keyword != ''">AND decision_output LIKE CONCAT('%',#{keyword},'%')</if>
        ORDER BY triggered_at DESC
    </select>
    <select id="selectById" resultMap="RM">SELECT * FROM decision_result WHERE id=#{id}</select>
    <select id="selectWithFusionResult" resultMap="WithFusion">
        SELECT dr.*, fr.id AS fr_id, fr.result_code AS fr_result_code, fr.scheme_name AS fr_scheme_name,
               fr.scene_count AS fr_scene_count, fr.fusion_data AS fr_fusion_data,
               fr.raw_data_summary AS fr_raw_data_summary, fr.executed_at AS fr_executed_at
        FROM decision_result dr LEFT JOIN fusion_result fr ON dr.fusion_result_id=fr.id
        WHERE dr.id=#{id}
    </select>
    <insert id="insert">
        INSERT INTO decision_result(id,result_code,fusion_result_id,rule_id,rule_name,scheme_id,scheme_name,decision_output,triggered_at)
        VALUES(#{id},#{resultCode},#{fusionResultId},#{ruleId},#{ruleName},#{schemeId},#{schemeName},#{decisionOutput},NOW())
    </insert>
    <select id="countByDateRange" resultType="long">
        SELECT COUNT(*) FROM decision_result WHERE 1=1
        <if test="startTime != null and startTime != ''">AND triggered_at &gt;= #{startTime}</if>
        <if test="endTime != null and endTime != ''">AND triggered_at &lt;= #{endTime}</if>
    </select>
    <select id="countByRule" resultType="map">
        SELECT rule_id, rule_name, COUNT(*) AS cnt FROM decision_result
        WHERE 1=1
        <if test="startTime != null and startTime != ''">AND triggered_at &gt;= #{startTime}</if>
        <if test="endTime != null and endTime != ''">AND triggered_at &lt;= #{endTime}</if>
        GROUP BY rule_id, rule_name ORDER BY cnt DESC LIMIT 10
    </select>
    <select id="avgResponseTime" resultType="map">
        SELECT DATE(dr.triggered_at) AS dt,
               ROUND(AVG(TIMESTAMPDIFF(SECOND, fr.executed_at, dr.triggered_at)),2) AS avg_sec
        FROM decision_result dr JOIN fusion_result fr ON dr.fusion_result_id=fr.id
        WHERE 1=1
        <if test="startTime != null and startTime != ''">AND dr.triggered_at &gt;= #{startTime}</if>
        <if test="endTime != null and endTime != ''">AND dr.triggered_at &lt;= #{endTime}</if>
        GROUP BY DATE(dr.triggered_at) ORDER BY dt ASC
    </select>
</mapper>
