<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imaging.scheduler.system.mapper.device.DeviceParamMapper">

    <select id="selectListByDeviceId" resultType="com.imaging.scheduler.system.domain.device.DeviceParam">
        SELECT * FROM device_param WHERE device_id = #{deviceId} ORDER BY param_key
    </select>

    <delete id="deleteByDeviceId">
        DELETE FROM device_param WHERE device_id = #{deviceId}
    </delete>

    <insert id="insertBatch">
        INSERT INTO device_param(device_id, param_key, param_value, param_desc, updated_at)
        VALUES
        <foreach collection="list" item="p" separator=",">
            (#{p.deviceId}, #{p.paramKey}, #{p.paramValue}, #{p.paramDesc}, NOW())
        </foreach>
    </insert>
</mapper>
